@media only screen and (min-width : 1224px) {

    /* ************Général******************* */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: rgb(142, 162, 198);

    }

    /* **************Header****************************** ************ */
    nav {
        background-color: rgb(153, 51, 0);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav a {
        background-color: rgb(153, 51, 0);
        padding: 30px;
        color: darkgrey;
    }

    /* *****************Main******************************* */
    h1 {
        color: red;
        font-size: 30px;
        text-decoration: underline;
        padding: 1em;
    }

    h2 {
        padding: 1em 2em 1em 2em;
        color: goldenrod;
        font-size: 25px;
        text-decoration: underline;
        width: fit-content;
    }

    h3 {
        padding: 2em;
        color: gold;
        font-size: 25px;
        text-decoration: underline;
        width: fit-content;
    }

    p {
        padding: 2em;
        font-size: 15px;
        width: fit-content;
    }

    li {
        padding: 2em;
        list-style: none;
    }


    /* *******************Footer***************************** */
    button {
        position: relative;
        height: 70px;
        width: 250px;
        border: 3px solid red;
        background-color: red;
        font-size: 1.5em;
        color: white;
        transition: 0.3s;
        z-index: 2;
        overflow: hidden;
    }

    button:hover {
        color: #31489f;
        width: 280px;
    }

    button::before {
        content: "";
        position: absolute;
        height: 70px;
        width: 280px;
        background-color: orange;
        top: -2px;
        left: -2px;
        transform: translate(-100%);
        transition: 0.3s;
        z-index: -1;
    }

    button:hover::before {
        transform: translate(0%);
    }

    button i {
        transform: scale(0);
        margin: -10px;
        transition: 0.3s;
    }

    button:hover i {
        transform: scale(1);
        margin-left: 10px;
    }

    footer {
        background-color: red;
        color: white;
        width: 100%;
        text-align: center;
        margin: 1em 0 0 0;
        padding: 1em;
        bottom: 0;
    }

    .absolute {
        background-color: red;
        color: white;
        width: 100%;
        text-align: center;
        margin: 1em 0 0 0;
        padding: 1em;
        bottom: 0;
        position: absolute;
    }
}